.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 50px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    background-color: rgb(255, 255, 255);
    color: #fec700;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
li, a {
    font-family: 'Poppins', sans-serif;
    color: #060808;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-left: 500px;
    padding: 30px 5%;
}