@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

form{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content:center;
    position: relative;
    float:inline-end;
    margin-right: 250px;
}

#sign_up_form{
    display:inline-block;
}

.ted_icon{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 50px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    background-color: rgb(255, 255, 255);
    color: #fec700;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-left: 500px;
    padding: 30px 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li, a {
    font-family: 'Poppins', sans-serif;
    color: #060808;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  /*TIAH'S STYLING*/

  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    text-align: center;
    font-size: 30px
  } */
  
  /* a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* a:hover {
    background-color: goldenrod;
  } */

  .banner{
    display: flex;
    margin-top: 20px;
  }
  .left-column,.right-column{
    flex-basis: 50%;
  }

  h1 {
    text-align: center;
    font-size: 80px;
    color: navy
  }

  .left-column{
    margin-left: 25px;
  }

  .right-column{
    margin-left: auto;
  }

  .right-column img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h2{
    text-align: center;
    color: goldenrod;
    font-size: 30px;
  }




 